@using System.Collections.Specialized
@model CommonCardLibrary.TableViewModel

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="position:relative">
        <h4>Table</h4>
        <hr/>
        <div class="btn-group btn-group-lg col-md-4 col-md-offset-4" style="position: absolute; top:-50px" role="group">
            <button type="submit" class="btn btn-default" name="Command" value="Check">Check</button>
            <button type="submit" class="btn btn-default" name="Command" value="Bet">Bet</button>
            <button type="submit" class="btn btn-default" name="Command" value="Fold">Fold</button>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.Id)
        <div class="row">
            @for (var x = 0; x < Model.Players.Count && x < 4; x++)
            {
                <div class="col-xs-3 card-container">
                    @{
                    int count = 0;

                    }
                    @foreach (var card in Model.Players[x].Cards)
                    {
                        count++;
                        @Html.Partial("Card", card, new ViewDataDictionary {{"playerCard", count%2 == 0}, {"playingCard", true}})
                    }

                    <div class="current-hand">
                        <h1>@Model.Players[x].Hand</h1>

                        @if (Model.Players[x].WinningHand)
                        {
                            <span class="glyphicon glyphicon-check winning-check" ></span>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row board">
            <div class="col-xs-2">
                <img class="card" src="@Url.Content("~/Content/Images/back.png")" />
            </div>
            @foreach (var card in Model.Cards)
            {
                <div class="col-xs-2">
                    @Html.Partial("Card", card)
                </div>
            }

        </div>
        
        @if (Model.Players.Count > 4)
        {
            
            for (var x = 4; x < Model.Players.Count; x++)
            {
                <div class="col-xs-3 card-container">
                    @{
                        var count = 0;
                    }
                    @foreach (var card in Model.Players[x].Cards)
                    {
                        count++;
                        @Html.Partial("Card", card, new ViewDataDictionary {{"playerCard", count%2 == 0}, {"playingCard", true}})
                    }

                    <div class="current-hand">
                        <h1>@Model.Players[x].Hand</h1>

                        @if (Model.Players[x].WinningHand)
                        {
                            <span class="glyphicon glyphicon-check winning-check" ></span>
                        }
                    </div>
                </div>
            }
        }
    </div>
}
@section scripts
{
    <script type="text/javascript">
        @if (Model.Players.Count > 4)
        {
            @:$(".card").height(105).width(125);
            @:$(".current-hand").attr("style", "top:87px");
            @:$(".board").attr("style", "margin-top:155px; margin-bottom:10px;")
            @:$(".card-container:last").attr("style","margin-bottom:140px");
        }

    </script>

}


