@using CommonCardLibrary
@model CommonCardLibrary.TableViewModel

<h2>Current Bet : @Model.Pot</h2>
<div class="form-horizontal" style="position:relative">
    <h4>Table</h4>
    <hr />
    <div class="btn-group btn-group-lg col-md-4 col-md-offset-4" style="position: absolute; top: -50px" role="group">
        <input type="hidden" name="raiseAmount" value="@Model.MinBet"/>
        <input type="hidden" name="tableId" value="@Model.Id"/>
        <input type="hidden" name="roundId" value="@Model.RoundId"/>
        @*<input type="hidden" name="playerId" value="@Model.PlayerId"/>*@
        <button type="submit" class="btn btn-default" name="Command" value="Raise">Raise</button>
        @if (Model.CurrentBet > (decimal) 0.00)
        {
            <button type="submit" class="btn btn-default" name="Command" value="Call">Call</button>
            <button type="submit" class="btn btn-default" name="Command" value="Fold">Fold</button>
        }
        else
        {
            <button type="submit" class="btn btn-default" name="Command" value="Check">Check</button>
        }
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("CardGroup", Model, new ViewDataDictionary { { "startingValue", 0 }, { "endingValue", 4 } })
    <div class="row board">
        <div class="col-xs-2">
            <img class="card" src="@Url.Content("~/Content/Images/back.png")" />
        </div>
        @if (Model.Place != TableRound.PreFlop)
        {
            foreach (var card in Model.Cards)
            {
                <div class="col-xs-2">
                    @Html.Partial("Card", card)
                </div>
            }
        }
    </div>
    @if (Model.Players.Count > 4)
    {
        @Html.Partial("CardGroup", Model, new ViewDataDictionary { { "startingValue", 4 }, { "endingValue", Model.Players.Count } })
    }
</div>