@model Holdem.Models.TableRoundViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Table.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Table.MinBet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table.MinBet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Table.MaxBet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table.MaxBet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Table.BuyIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table.BuyIn)
        </dd>

    </dl>
</div>

@if (Model.Round.Started)
{
    <h2>Round is already in progress</h2>
}

    <div id="CurrentGamePlayers">
        @Html.Partial("GamePlayers", Model)
    </div>






@section scripts
{
    <script>
        var addPlayerToTable = function (submission) {
            $.post("../Current", submission);
        }
    </script>
}
