@using Microsoft.AspNet.Identity
@using Constants = Holdem.Utilities.Constants
@model Holdem.Models.TableRoundViewModel

<h2>Current Players</h2>
<hr />
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Cash Left
            </th>
            <th>
                Cash In Game
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>@player.Player.Name</td>
                <td>@player.Player.Cash</td>
                <td>@player.TotalCash</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<br />

<hr />

<span>

    @*@if (Model.Players.Count > 2 && !Model.Round.Started)
        {
            @Html.ActionLink("View Game", "Current", new { tableId = @Model.Table.Id, roundId = @Model.Round.Id })
            <span>  |  </span>
        }*@


    @using (Html.BeginForm("Current", "Tables", FormMethod.Post))
    {
        <input type="hidden" name="tableId" value="@Model.Table.Id" />
            <input type="hidden" name="roundId" value="@Model.Round.Id" />
            <input type="hidden" name="playerId" value="@Guid.Parse(User.Identity.GetUserId())" />
            <input type="hidden" name="command" value="NewEntry" />
            <input type="hidden" name="raiseAmount" value="0.00" />
            if (Model.Players.Count < Constants.MAX_PLAYERS)
            {
                <button type="submit" class="btn btn-link">Take Seat</button>
                <span>|  </span>
            }
            @Html.ActionLink("Back to List", "Index")
    }
</span>
