@using CommonCardLibrary
@model CommonCardLibrary.TableViewModel

<div class="row">
    @for (var x = (int)ViewBag.startingValue; x < Model.Players.Count && x < (int)ViewBag.endingValue; x++)
            {
        <div class="col-xs-3 card-container">
            <span class="name">@Model.Players[x].Name @if (@Model.Players[x].Acting)
            {
                <input type="hidden" name="playerId" value="@Model.Players[x].Id" />
                <span class="glyphicon glyphicon-eye-open"></span>
            }
                @if (Model.Players[x].Won)
                {
                    <span class="glyphicon glyphicon-check winning-check" style="right: -25px;"></span>
                }</span>
            <ul><li>Waiting : @Model.Players[x].Waiting</li><li>Active : @Model.Players[x].Active</li><li>Acting : @Model.Players[x].Acting</li><li>Winning : @Model.Players[x].Won</li></ul>
            <ul><li>Cash In Hand : @Model.Players[x].CashInHand</li><li>Current Cash : @Model.Players[x].TotalCash</li><li>Current Bet : @Model.Players[x].CurrentBet</li></ul>
            @{
                int count = 0;

            }
           

          
                @foreach (var card in Model.Players[x].Cards)
                {
                    count++;
                    @Html.Partial("Card", card, new ViewDataDictionary {{"playerCard", count%2 == 0}, {"playingCard", true}})
                    ;
                }

                <div class="current-hand">
                    <h1>@Model.Players[x].Hand</h1>

                  
                </div>
            
         
        </div>
                }
            
</div>